<div class="overlay"></div>
<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Dashboard</div>
    <div class="card">
      <div class="card__head">
        <div class="title-purple card__title">Overview</div>
      </div>
      <div class="stock">
        <div class="stock__list">
          <div class="stock__item" style="background-color: #edf8f2;">
            <div class="stock__icon">
              <svg class="icon icon-activity">
                <use xlink:href="#icon-activity"></use>
              </svg>
            </div>
            <div class="stock__line">
              <div class="stock__details">
                <div class="stock__category">Earning
                  <div class="tooltip" title="Small description">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="stock__counter">128k</div>
                <div class="stock__indicator">
                  <div class="balance positive">
                    <svg class="icon icon-arrow-top">
                      <use xlink:href="#icon-arrow-top"></use>
                    </svg>37.8%
                  </div><span>this week</span>
                </div>
              </div>
              <div class="stock__chart">
                <div id="dashboard-products-earning"></div>
              </div>
            </div>
          </div>
          <div class="stock__item" style="background-color: #ecf9fe;">
            <div class="stock__icon">
              <svg class="icon icon-shopping-bag">
                <use xlink:href="#icon-shopping-bag"></use>
              </svg>
            </div>
            <div class="stock__line">
              <div class="stock__details">
                <div class="stock__category">Customer
                  <div class="tooltip" title="Small description">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="stock__counter">512</div>
                <div class="stock__indicator">
                  <div class="balance negative">
                    <svg class="icon icon-arrow-bottom">
                      <use xlink:href="#icon-arrow-bottom"></use>
                    </svg>37.8%
                  </div><span>this week</span>
                </div>
              </div>
              <div class="stock__chart">
                <div id="dashboard-products-customer"></div>
              </div>
            </div>
          </div>
          <div class="stock__item" style="background-color: #f2efff;">
            <div class="stock__icon">
              <svg class="icon icon-payment">
                <use xlink:href="#icon-payment"></use>
              </svg>
            </div>
            <div class="stock__line">
              <div class="stock__details">
                <div class="stock__category">Payouts
                  <div class="tooltip" title="Small description">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="stock__counter">64k</div>
                <div class="stock__indicator">
                  <div class="balance positive">
                    <svg class="icon icon-arrow-top">
                      <use xlink:href="#icon-arrow-top"></use>
                    </svg>37.8%
                  </div><span>this week</span>
                </div>
              </div>
              <div class="stock__chart">
                <div id="dashboard-products-payouts"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
