@if(loading$){
<div class="topbar-progress"></div>
}

<div class="page__inner">
  <div class="page__container">
    <div class="customer card">
      <div class="card__head">
        <div class="title-purple card__title">Customers</div>
        <form class="form">
          <input
            class="form__input"
            type="text"
            name="search"
            [(value)]="_searchTerm"
            placeholder="Vehicle Number.., Customber Name.."
            required="required"
            autocomplete="off"
            (input)="onSearch($event)"
          />
          <button class="form__button">
            <svg class="icon icon-search">
              <use xlink:href="#icon-search"></use>
            </svg>
          </button>
        </form>
        <a
          routerLink="add"
          class="button balance__button"
          data-popup=".js-popup-success"
        >
          <svg class="icon icon-add">
            <use xlink:href="#icon-add"></use>
          </svg>
          Add</a
        >
      </div>

      <div class="card">
        <div class="payout">
          <div class="payout__wrapper table-responsive">
            <div class="payout__table">
              <div class="payout__row">
                <div class="payout__col">#</div>
                <div class="payout__col">Vehicle Number</div>
                <div class="payout__col">Customber Name</div>
                <div class="payout__col">Mobail Number</div>
                <div class="payout__col">Email</div>
                <div class="payout__col">City</div>
                <!-- <div class="payout__col">Brand Name</div> -->
                <!-- <div class="payout__col">Model name</div> -->
                <!-- <div class="payout__col">Car Service</div> -->
                <!-- <div class="payout__col">Full Address</div> -->
                <div class="payout__col">Date</div>
                <div class="payout__col">Action</div>
              </div>
              @for (item of _displayedItems; track $index) {
              <div class="payout__row">
                <div class="payout__col">{{$index + 1}}</div>
                <div class="payout__col">{{item.vehicleNumber}}</div>
                <div class="payout__col">{{item.customerName}}</div>
                <div class="payout__col">{{item.mobileNumber}}</div>
                <div class="payout__col">{{item.email}}</div>
                <div class="payout__col">{{item.city}}</div>
                <!-- <div class="payout__col">{{item.brandName}}</div> -->
                <!-- <div class="payout__col">{{item.modelName}}</div> -->
                <!-- <div class="payout__col">{{item.carService}}</div> -->
                <!-- <div class="payout__col">{{item.fullAddress}}</div> -->
                <div class="payout__col">{{item.createdAt}}</div>
                <div class="payout__col">
                  <div
                    class="actions"
                    [class.active]="_actionsVisibility[$index]"
                  >
                    <button
                      class="actions__button"
                      (click)="toggleActionsVisibility($index)"
                    >
                      <svg class="icon icon-more-horizontal">
                        <use xlink:href="#icon-more-horizontal"></use>
                      </svg>
                    </button>
                    <div class="actions__body">
                      <button class="actions__option">
                        <svg class="icon icon-edit">
                          <use xlink:href="#icon-edit"></use></svg
                        >Edit Commission
                      </button>
                      <button
                        class="actions__option"
                      >
                        <svg class="icon icon-trash">
                          <use xlink:href="#icon-trash"></use></svg
                        >Delete Commission
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              } @empty{
              <div id="message-not-found">Data not found</div>
              }
            </div>
          </div>
        </div>
      </div>
      @if (_displayedItems.length > 0) {
      <div class="filters__btns">
        <button class="button filters__button" (click)="previousPage()">
          Previous
        </button>
        <button class="button filters__button" (click)="nextPage()">
          Next
        </button>
      </div>
      }
    </div>
  </div>
</div>

<!-- delete dialog -->
<!-- <app-delete-dialog [addclass]="_showDeleteDialog" (toggleDeleteDialog)="toggleDeleteDialog(0)" (delete)="delete()" /> -->
