@if(loading$){
<div class="topbar-progress"></div>
}

<div class="page__inner">
    <div class="page__container">
        <div class="create">
            <div class="create__card card">
                <div class="card__head">
                    <div class="title-green card__title">{{ _pageTitle }}</div>
                    <a class="button-stroke button-small card__button" routerLink="/booking">
                        <svg class="icon icon-arrow-left">
                            <use xlink:href="#icon-arrow-left"></use>
                        </svg>
                        <span>Back</span>
                    </a>
                </div>
                <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                    <div class="field fieldmargin"
                        [class.error]="bookingForm.get('customerId')?.touched && bookingForm.get('customerId')?.invalid">
                        <div class="field__label">Customer</div>
                        <ng-select class="custom-select custom-ng-select" [items]="customers$" bindLabel="name"
                            bindValue="id" formControlName="customerId" placeholder="Select Customer">
                        </ng-select>
                    </div>

                    <div class="container">
                        <div class="column">
                            <div class="field fieldmargin"
                                [class.error]="bookingForm.get('start_date')?.touched && bookingForm.get('start_date')?.invalid">
                                <div class="field__label">Start Date</div>
                                <div class="field__wrap">
                                    <input class="field__input uppercase" type="date" formControlName="start_date"
                                        placeholder="Start Date">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field fieldmargin"
                                [class.error]="bookingForm.get('advance_payment')?.touched && bookingForm.get('advance_payment')?.invalid">
                                <div class="field__label">Advance Payment</div>
                                <div class="field__wrap">
                                    <input class="field__input" type="number" formControlName="advance_payment"
                                        placeholder="Advance Payment">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="column">
                            <div class="field fieldmargin"
                                [class.error]="bookingForm.get('kilometres')?.touched && bookingForm.get('kilometres')?.invalid">
                                <div class="field__label">Kilometres</div>
                                <div class="field__wrap">
                                    <input class="field__input" type="number" formControlName="kilometres"
                                        placeholder="Kilometres">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field fieldmargin">
                                <div class="field__label">Status</div>
                                <div class="field__wrap">
                                    <ng-select class="custom-select custom-ng-select" [items]="statusData"
                                        bindLabel="name" formControlName="status" bindValue="id"
                                        placeholder="Select Staus">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field fieldmargin">
                        <div class="field__label">Complaint</div>
                        <div class="field__wrap">
                            <textarea class="field__input CoupletBox" type="text" formControlName="issue"
                                placeholder="Type issue..."></textarea>
                        </div>
                    </div>

                    <div class="field fieldmargin">
                        <div class="field__label">Additional Requirements</div>
                        <div class="field__wrap">
                            <textarea class="field__input CoupletBox" type="text"
                                formControlName="additional_requirements"
                                placeholder="Type Additional Requirements..."></textarea>
                        </div>
                    </div>

                    <div class="field fieldmargin">
                        <div class="create__label">Services</div>

                        <div class="container">
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input uppercase" type="text" formControlName="washing"
                                            placeholder="washing">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input" type="number" formControlName="washingPrice"
                                            placeholder="Washing Price">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input uppercase" type="text"
                                            formControlName="dentingPainting" placeholder="Denting&painting">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input" type="number" formControlName="dentingPaintingPrice"
                                            placeholder="Denting & painting Price">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input uppercase" type="text" formControlName="acwork"
                                            placeholder="Ac work">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input" type="number" formControlName="acworkPrice"
                                            placeholder="Ac work Price">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input uppercase" type="text" formControlName="electricwork"
                                            placeholder="Electric Work">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input" type="number" formControlName="electricworkPrice"
                                            placeholder="Electric work Price">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input uppercase" type="text" formControlName="brackdown"
                                            placeholder="Brackdown">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input" type="number" formControlName="brackdownPrice"
                                            placeholder="Brackdown Price">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input uppercase" type="text" formControlName="rr"
                                            placeholder="RR">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field fieldmargin">
                                    <div class="field__wrap">
                                        <input class="field__input" type="number" formControlName="rrPrice"
                                            placeholder="RR Price">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- <div class="field fieldmargin">
                        <div class="create__label">Services</div>
                        <div class="field__wrap" style=" margin-top: 5px;">
                            <div class="container2 card"
                                *ngFor="let item of serviceItems; let index = index; trackBy: trackByIndex">
                                <div class="column2">
                                    <div class="field fieldmargin">
                                        <div class="field__wrap">
                                            <input class="field__input" type="text" [value]="item.serviceName" placeholder="Name"
                                                (input)="onServiceChange(index, $event)">
                                        </div>
                                    </div>
                                </div>

                                <div class="column2">
                                    <div class="field fieldmargin">
                                        <div class="field__wrap">
                                            <input class="field__input" type="number" [value]="item.qty" placeholder="Qty"
                                                (input)="onServiceQtyChange(index, $event)">
                                        </div>
                                    </div>
                                </div>

                                <div class="column2">
                                    <div class="field fieldmargin">
                                        <div class="field__wrap">
                                            <input class="field__input" type="number" [value]="item.servicePrice" placeholder="Price"
                                                (input)="onServicePriceChange(index, $event)">
                                        </div>
                                    </div>
                                </div>

                                <div class="column2">
                                    <div class="field fieldmargin">
                                        <div class="field__wrap">
                                            <input disabled class="field__input" type="text" [value]="item.total" placeholder="Total" >
                                        </div>
                                    </div>
                                </div>

                                <div class="column2 column-small">
                                    <div class="field fieldmargin">
                                        <span (click)="removeService(index)">
                                            <svg class="icon icon-trash">
                                                <use xlink:href="#icon-trash"></use>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="button-stroke panel__button answer__button" style="margin-left: 40px;"
                        (click)="addService()">
                        <svg class="icon icon-add">
                            <use xlink:href="#icon-plus"></use>
                        </svg> Add New service
                    </a> -->

                    <div class="filters__btns">
                        <a class="button-stroke panel__button answer__button" routerLink="/booking">Cancel</a>
                        <button *ngIf="!_btnLoading" class="button panel__button">
                            <span>{{ _label }}</span>
                        </button>
                        <button *ngIf="_btnLoading" class="button panel__button" disabled>
                            Please wait... <i class="fa fa-refresh fa-spin"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>