@if(loading$){
<div class="topbar-progress"></div>
}


<div class="page__inner">
    <div class="page__container">
        <div class="customer card">
            <div class="card__head">
                <div class="title-purple card__title">{{_pageTitle}}</div>
                <div class="form">
                    <input class="form__input" type="date" name="search" placeholder="Select Date.."
                        autocomplete="off" (change)="onDateSelect($event)" />
                    <button type="button" class="form__button" (click)="clearDate()">
                        <svg class="icon icon-search">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </button>
                </div>
                <div class="" style="display: flex; gap: 7px;">
                    <button class="button filters__button Download_Excel"><span>⌘ Download Excel</span></button>
                    <button routerLink="/booking/add" class="button filters__button">
                        <svg class="icon icon-add">
                            <use xlink:href="#icon-plus"></use>
                        </svg><span>Create</span></button>
                </div>
            </div>

            <div class="card">
                <div class="payout">
                    <div class="payout__wrapper table-responsive">
                        <div class="payout__table ">
                            <div class="payout__row">
                                <div class="payout__col">Customber Name</div>
                                <div class="payout__col">Start Date</div>
                                <div class="payout__col">End date</div>
                                <div class="payout__col">Advance Payment</div>
                                <div class="payout__col">Status</div>
                                <div class="payout__col">Action</div>
                            </div>
                            @for (item of _displayedItems; track $index) {
                            <div class="payout__row">
                                <div class="payout__col">{{item.customerId.customerName}}</div>
                                <div class="payout__col">{{item.start_date}}</div>
                                <div class="payout__col">{{item.end_date}}</div>
                                <div class="payout__col">{{item.advance_payment}}</div>
                                <div class="payout__col">
                                    @if(item.status === "completed"){
                                    <div class="status-green-dark payout__status">Completed</div>
                                    }
                                    @if(item.status === "progressing"){
                                    <div class="status-red-dark payout__status">Progressing</div>
                                    }
                                    @if(item.status === "pending"){
                                    <div class="status-purple help__status">Pending</div>
                                    }
                                    @if(item.status === "hold"){
                                    <div class="status-purple-dark help__status">Hold</div>
                                    }
                                </div>
                                <div class="payout__col">
                                    <div class="action-buttons">
                                        <button class="actionsBtn" (click)="navigateToRoute(item)">
                                            <svg class="icon icon-edit">
                                                <use xlink:href="#icon-edit"></use>
                                            </svg>
                                        </button>
                                        <button class="actionsBtn" (click)="toggleDeleteDialog(item)">
                                            <svg class="icon icon-trash">
                                                <use xlink:href="#icon-trash"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            } @empty{
                            <div id="message-not-found">Data not found</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if (_displayedItems.length > 0) {
            <div class="filters__btns">
                <button class="button filters__button" (click)="previousPage()">Previous</button>
                <button class="button filters__button" (click)="nextPage()">Next</button>
            </div>
            }
            <!-- here -->
        </div>
    </div>


    <!-- delete dialog -->
    <app-delete-dialog [addclass]="_showDeleteDialog" (toggleDeleteDialog)="toggleDeleteDialog(0)"
        (delete)="delete()" />